body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.box {
  height: 250px;
  width: 250px;
  background-color: red;
}
.navbar p{
  font-size: 30px;
  font-family: 'Alfa Slab One', serif;
}
.form-group{
  font-family: 'Alfa Slab One', serif;
  font-weight: 300;
}
.body{
  background-color:#282c34;
}